<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Galicasa</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <%- include('./modules/links') %>
  </head>
  <body>
    <header><%- include('./modules/navbar') %></header>
    <main>
        <div class="container-xxl d-flex justify-content-center align-items-center flex-column">
          <h1>GALICASA</h1>
          <div class="pbox d-flex justify-content-center align-items-center ">
            <div class="pboxsub">
              <p>
                Bienvenido a Galicasa: Tu Inmobiliaria Gallega En Galicasa, llevamos
                más de 20 años en el mercado inmobiliario, con más de 4,000
                viviendas vendidas en toda Galicia. Nuestra experiencia y compromiso
                nos avalan como una consultora confiable y dedicada a encontrar el
                hogar perfecto para ti. Ofrecemos una amplia variedad de casas,
                desde acogedores apartamentos hasta espaciosas viviendas
                unifamiliares.</p><p> ¿Buscas una casa con jardín o vistas al mar? ¡Tenemos
                opciones para todos los gustos! ¿Listo para encontrar tu próximo
                hogar? ¡Explora nuestro catálogo en línea!
              </p>
            </div>
          </div>
        </div>
    </main>
    <footer><%- include('./modules/footer') %></footer>
  </body>
</html>
