<footer class="text-center bg-body-tertiary">
  <div class="container">
    <section class="mb-4">
      <i class="bi bi-instagram"></i>
      <i class="bi bi-twitter-x"></i>
      <i class="bi bi-threads"></i>
      <i class="bi bi-facebook"></i>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright: Galicasa
  </div>
</footer>